.card_Container {
    width: 386px;
    display: flex;
    flex-direction: column;

    &.starter { 
      background-color: #979797;
    }
    &.regular {
      background: #3B86FF 0% 0% no-repeat padding-box;
    }
    &.professional {
      background-color: #8B68EE;
    }
    &.ultimate {
      background-color: #EE3541;
    }

    &.not-selected{
      opacity: .75;
    }
  }

  .card_Title,
.card_Price,
.card_Description{
  letter-spacing: 0px;
  color: #FFFFFF;
  margin:0;
}

.card_Title,
.card_Description{
  padding-left: 20px ;
  padding-right: 25px;
}

.card_Title{
  padding-top: 11px;
  padding-bottom: 23px;
  margin: 0;
}
  
.card_Title{
  font: normal normal normal 1.75rem/2.5rem Roboto;
  text-align: left;
}
.card_Price{
  text-align: center;
  font: normal normal normal 5rem Roboto;
  margin: 0;
  padding-bottom: 11px;
}
.card_Description{
  height: 50px;
  font: normal normal normal 1.125rem Roboto;
  padding-bottom: 13px;
}
.card_Button{
  border: none;
  width: 120px;
  height: 35px;
  margin-bottom: 23px;
  align-self: center;
  border-radius: 4px;
  color: #3B86FF;
  cursor: pointer;
}
.card_Button:disabled{
  cursor:default;
}
